body {
    margin: 0;
}

/* ヘッダー */

header {
    background-color: rgb(47, 140, 184);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
    height: 100%;
    vertical-align: middle;
}

.logo h2 {
    color: #fff;
    height: 100%;
    font-family: sans-serif;
}

.menu {
    width: 50%;
    height: 100%;
}

.menu ul {
    display: table;
    table-layout: fixed;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.menu li {
    display: table-cell;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

.menu .not_selected_menu {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: small;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: content-box;
}

.menu .selected_menu {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: content-box;
}

/* ヘッダー */

/* フッター */

footer {
    background-color: rgb(47, 140, 184);
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 12px 20px;
}

footer ul {
    list-style-type: none;
    margin: 0px;
}

footer a {
    font-family: sans-serif;
    font-size: small;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* フッター */